@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --blue-profile: hsl(246, 80%, 60%);
    --light-orange: hsl(15, 100%, 70%);
    --soft-blue: hsl(195, 74%, 62%);
    --light-red: hsl(348, 100%, 68%);
    --lime-green: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --soft-yellow: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desatured-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --hover-blue: #34397b;
    font-family: 'Rubik', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 230px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--dark-blue);
    margin-right: 20px;
}

.profile_img {
    border-radius: 10px;
    background-color: var(--blue-profile);
    padding: 1.5rem 4rem 4rem 1.5rem;
}

.profile_img img {
    width: 75px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.profile_img span {
    opacity: .7;
    font-size: 14px;
}

.profile_img p {
    margin-top: .4rem;
    font-weight: 300;
    line-height: 40px;
    font-size: 2.4rem;
}

.filter {
    padding: 1.5rem 0px 1rem 1.5rem;
}

.filter button {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    margin-bottom: .8rem;
    color: var(--desatured-blue);
    transition: .3s;
    font-size: 14px;
}

.filter button:hover {
    cursor: pointer;
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.card {
    width: 230px;
    margin-right: 20px;
    margin-top: 10px;
}

.card-icon {
    height: 50px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.card-info {
    background-color: var(--dark-blue);
    border-radius: 15px;
    padding: 1.5rem;
    color: #fff;
    position: relative;
    top: -10px;
    height: 160px;
}

.card-info > p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 14px;
}
.card-info .current-hours {
    font-size: 3rem;
    font-weight: 100;
}
.card-info .prev {
    font-size: 12px;
    color: var(--desatured-blue);
}
.work .card-icon {
    background: var(--light-orange) url(./images/icon-work.svg) right no-repeat;
}


.play .card-icon {
    background: var(--soft-blue) url(./images/icon-play.svg) right no-repeat;
}

.study .card-icon {
    background: var(--light-red) url(./images/icon-study.svg) right no-repeat;
}

.exercise .card-icon {
    background: var(--lime-green) url(./images/icon-exercise.svg) right no-repeat;
}

.social .card-icon {
    background: var(--violet) url(./images/icon-social.svg) right no-repeat;
}


.self-care .card-icon {
    background: var(--soft-yellow) url(./images/icon-self-care.svg) right no-repeat;
}

@media only screen and (max-width: 1071px) { 
    .main {
        height: initial;
        margin-top: 50px;
        flex-direction: column;
    }
    .profile {
        width: 340px;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .profile_img {
        padding: 1rem;
        display: flex;
    }
    .profile_img img {
        margin: 0px 1rem 0px 0px;
        width: 60px;
        
    }
    .profile_img div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profile_img p {
        line-height: initial;
        font-size: 1.6rem;
        margin: 0px;
    }
    .filter  {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem 0px 1.5rem;
    }
    .cards {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .card {
        margin: 0px;
        width: 340px;
    }
    .card-info div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-info {
        height: 130px;
    }
}
